.tools-chufalv-dragger {
  display: block;
  margin-bottom: 16px;
}

.tools-chufalv-btns {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: flex-end;
}

.tools-chufalv-btns .ant-btn + .ant-btn {
  margin-left: 16px;
}

.tools-event-chart-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.tools-event-chart-text {
  margin-left: 16px;
}

.tools-event-chart-title-tip {
  margin-bottom: 8px;
  color: #ff0000;
}

.tools-event-chart-tip {
  margin-top: 8px;
  margin-bottom: 8px;
}

.tools-event-chart-select {
  width: 160px;
  margin-right: 12px;
}

.tools-event-chart-setting {
  display: flex;
  align-items: center;
  margin-left: 12px;
  width: 260px;
}

.tools-event-chart-setting-btn {
  transition: .2s;
  color: #333;
  cursor: pointer;
}

.tools-event-chart-setting-btn:hover {
  color: var(--ant-primary-color)
}

.tools-event-chart-wrap {
  width: 100%;
  height: calc(100vh - 350px);
  overflow-y: auto;
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.tools-event-chart-average {
  color: #ff0000;
  font-weight: 500;
  width: 74px;
  display: inline-block;
}

.tools-event-chart-select-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tools-event-chart-select-item-img {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}