.cycle-status-bar-titai-img {
  width: 150px;
}

.cycle-status-bar-enerty {
  flex: 1;
  margin: 0 12px;
}



.cycle-status-bar-enerty-wrap {
  /* display: flex; */
  /* height: 36px; */
  align-items: center;
}

.cycle-status-bar-enerty-item {
  display: flex;
  align-items: center;
  width: 200px;
}
