.max-gain-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
  margin-top: -4px;
  margin-bottom: 16px;
}

.max-gain-all-check {
  text-align: right;
  padding-right: 21px;
}

.max-gain-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.max-gain-check-col {
  /* text-align: center; */
  margin-bottom: 12px;
}

.max-gain-content {
  /* width: 50%; */
  margin: 0 32px;
}

.max-gain-title {
  font-size: 16px;
  color: var(--ant-primary-color);
  line-height: 22px;
  margin-bottom: 8px;
}

.max-gain-dps {
  font-size: 32px;
  color: var(--ant-primary-color);
  line-height: 32px;
  margin-bottom: 8px;
  color: #f34242;
  font-weight: 600;
}

.max-gain-dps-icon {
  font-size: 24px;
  margin-left: 8px;
}

.max-gain-item {
  font-size: 16px;
  color: #333;
}

.max-gain-item + .max-gain-item {
  margin-top: 4px;
}

.max-gain-label {
  margin-right: 12px;
  font-weight: 400;
}

.max-gain-value {
  font-size: 16px;
  font-weight: 600;
}
