.cycle-status-bar-titai-img {
  width: 150px;
}

.cycle-status-bar-enerty {
  flex: 1;
  margin: 0 12px;
}

.yjj-cycle-status-bar-enerty {
  flex: 1;
  margin: 0 12px;
}

.yjj-cycle-status-bar-enerty .ant-progress-text {
  display: none;
}

.yjj-cycle-status-bar-enerty .ant-progress-steps-item {
  height: 10px !important;
  width: 10px !important;
  border-radius: 100%;
}



.cycle-status-bar-enerty-wrap {
  /* display: flex; */
  /* height: 36px; */
  align-items: center;
}

.cycle-status-bar-enerty-item {
  display: flex;
  align-items: center;
  width: 150px;
}
