.cycle-simulator-team-buff-checkbox {
  display: inline-block;
  /* margin-right: 12px; */
  font-size: 14px;
  font-weight: 400;
}

.cycle-simulator-team-buff-wrap {
  position: fixed;
  top: 4px;
  left: 24px;
  padding: 11px 14px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
}

.cycle-simulator-team-buff-img-wrap + .cycle-simulator-team-buff-img-wrap {
  margin-left: 8px;
}

.cycle-simulator-team-buff-img-wrap {
  position: relative;
}

.cycle-simulator-team-buff-img-disabled .cycle-simulator-team-buff-img{
  -webkit-filter: grayscale(1) saturate(10%) contrast(50%);
}

.cycle-simulator-team-buff-img {
  display: block;
  width: 40px;
  height: 40px;
}

.cycle-simulator-team-buff-icon {
  font-size: 14px;
  margin-left: 12px;
  color: #F34242;
  cursor: pointer;
  opacity: 0.8;
}

.cycle-simulator-team-buff-icon:hover {
  opacity: 1;
}

.cycle-simulator-team-buff-limit-time {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}