.haste-layout {
  position: fixed;
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;
  height: calc(100vh - 48px);
  width: calc(100vw - 48px);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 12px 24px 24px;
}

.haste-level-font {
  font-size: 16px;
  font-weight: 500;
}

.haste-level-up-level {
  font-weight: 500;;
}