.tuandui-zengyi-timeline-detail-modal .ant-drawer-body {
  padding: 0;
}
.tuandui-zengyi-timeline-detail-modal .ant-drawer-body .ant-collapse-header-text {
  color: var(--ant-primary-color);
  font-size: 16px;
  font-weight: 600;
}

.tuandui-zengyi-timeline-detail-modal .ant-drawer-body .ant-collapse-borderless>.ant-collapse-item {
  border-bottom: 1px solid rgba(3, 10, 26, 0.06);
}

.tuandui-zengyi-timeline-info {
  margin: 24px 24px 12px;
}

.tuandui-zengyi-timeline-collapse {
  width: 100%;
  padding: 0 12px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tuandui-zengyi-timeline-detail-item {
  width: calc(50% - 16px);
  /* margin-bottom: 8px; */
  height: 115px;
  border: 1px solid rgba(3, 10, 26, 0.12);
  border-radius: 4px;
  margin: 8px;
}

.tuandui-zengyi-timeline-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #fff;
  transition: .2s;
}

.tuandui-zengyi-timeline-header:hover {
  background-color: var(--ant-primary-color-active-deprecated-f-30);
}

.tuandui-zengyi-timeline-checkbox-item {
  display: flex;
  align-items: center;
}

.tuandui-zengyi-timeline-detail-title {
  font-size: 14px;
  color: var(--ant-primary-color);
  margin-bottom: 0px;
  margin-left: 12px;
}

.tuandui-zengyi-timeline-detail-title.tuandui-zengyi-timeline-detail-title-disabled {
  color: rgba(3, 10, 26, 0.45);
}

.tuandui-zengyi-timeline-detail-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 8px;
}

.tuandui-zengyi-timeline-detail-divider {
  margin: 0px 0 8px;
}

.tuandui-zengyi-timeline-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 12px);
  margin: 0 6px;
}

.tuandui-zengyi-timeline-content-item-title {
  margin-right: 8px;
}

.tuandui-zengyi-timeline-content {
  flex: 1;
}
