.content {
  display: flex;
  align-items: center;
}

.item {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dfdfdf;
  &+.item {
    padding-left: 12px;
  }
  &.name {
    width: 40%;
  }
  &.count {
    width: 30%;
  }
  &.time {
    width: 30%;
  }
  :global {
    .ant-select {
      width: 100%;
    }
  }
}

.title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

.nameWrap {
  display: flex;
  align-items: center;
  justify-content:space-between
}

.self {
  font-weight: 500;
  color: #2AC88F;
}

.target {
  font-weight: 500;
  color: #fa7528;
}

.nameTextWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  margin-right: 8px;
}

.nameText {
  font-size: 16px;
  font-weight: 500;
}

.icon {
  color: rgba(3, 10, 26, 0.45);
  margin-left: 8px;
}